### 1. Int

In [1]:
x = 5

In [2]:
print(x)

5

In [3]:
print(type(x))

<class 'int'>

In [4]:
a = 4 + 5
b = 4 * 5
c = 5 / 4

print(a, b, c)

9 20 1.25

In [5]:
print(-5 / 4)

-1.25

In [6]:
x = 5 * 1000000 * 1000000 * 1000000 * 10000001000000+ 1
print(x)
print(type(x))

50000005000000000000000000000001
<class 'int'>

### 2. float

In [7]:
y = 5.7

In [8]:
print(y)
print(type(y))

5.7
<class 'float'>

In [9]:
a = 4.2 + 5.1
b = 4.2 * 5.1
c = 5.0 / 4.0
print(a, b, c)

9.3 21.419999999999998 1.25

### 3. bool

In [10]:
a = True
b = False

print(a)
print(type(a))

print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

In [11]:
print(a + b)
print(a + a)
print(b + b)

1
2
0

In [12]:
print(int(a), int(b))

1 0

In [13]:
print(True and False)
print(True and True)
print(False and False)

False
True
False

In [14]:
print(True or False)
print(True or True)
print(False or False)

True
True
False

### 4. None

In [15]:
z = None
print(z)
print(type(z))

None
<class 'NoneType'>

### 5. Str

In [16]:
x = 'abc'
print(x)
print(type(x))

abc
<class 'str'>

In [17]:
a = 'Ivan'
b = 'Ivanov'
s = a + ' ' + b
print(s)

Ivan Ivanov

In [18]:
print(a.upper())
print(a.lower())

IVAN
ivan

In [19]:
print(len(a))

4

In [20]:
print(bool(a))
print(bool(""))

True
False

In [21]:
print(a)
print(a[0])
print(a[1])
print(a[0:3])

Ivan
I
v
Iva

In [22]:
print(a[0:4:2])

Ia

In [23]:
splitted_line = 'Ivanov Ivan Ivanovich'.split(' ')
print(splitted_line)
print(type(splitted_line))

['Ivanov', 'Ivan', 'Ivanovich']
<class 'list'>

In [24]:
print('Иванов Иван Иванович'.split(' '))

['Иванов', 'Иван', 'Иванович']

### 6. List

In [25]:
saled_goods_count = [33450, 34010, 33990, 33200]
print(saled_goods_count)
print(type(saled_goods_count))

[33450, 34010, 33990, 33200]
<class 'list'>

In [26]:
income = ['Высокий', 'Средний', 'Высокий']
names = ['Элеонора Ивановна', 'Иван Иванович', 'Михаил Абрамович']

print(income)
print(names)

['Высокий', 'Средний', 'Высокий']
['Элеонора Ивановна', 'Иван Иванович', 'Михаил Абрамович']

In [27]:
print(' '.join(income))
print('---'.join(income))

Высокий Средний Высокий
Высокий---Средний---Высокий

In [28]:
features = ['Ivan Ivanovich', 'Medium', 500000, 12, True]
print(features)

['Ivan Ivanovich', 'Medium', 500000, 12, True]

In [29]:
print(features[0])
print(features[1])
print(features[3])

Ivan Ivanovich
Medium
12

In [30]:
print(features[0:5])

['Ivan Ivanovich', 'Medium', 500000, 12, True]

In [31]:
print(features[:5])

['Ivan Ivanovich', 'Medium', 500000, 12, True]

In [32]:
print(features[1:])

['Medium', 500000, 12, True]

In [33]:
print(features[2:5])

[500000, 12, True]

In [34]:
print(features[:-1])

['Ivan Ivanovich', 'Medium', 500000, 12]

In [35]:
features.append('one more element in list')
print(features)

['Ivan Ivanovich', 'Medium', 500000, 12, True, 'one more element in list']

In [36]:
del features[-2]
print(features)

['Ivan Ivanovich', 'Medium', 500000, 12, 'one more element in list']

### 7. Tuple

In [37]:
features_tuple = ('Ivan Ivanovich', 'Medium', 500000, 12, True)
print(features_tuple)
print(type(features_tuple))

('Ivan Ivanovich', 'Medium', 500000, 12, True)
<class 'tuple'>

In [38]:
features_tuple[2:5]

(500000, 12, True)

### 8. Set

In [39]:
names = {'Ivan', 'Petr', 'Constantin'}
print(names)
print(type(names))

{'Petr', 'Ivan', 'Constantin'}
<class 'set'>

In [40]:
print('Ivan' in names)

True

In [41]:
print('Mikhail' in names)

False

In [42]:
names.add('Mikhail')
print(names)

{'Mikhail', 'Petr', 'Ivan', 'Constantin'}

In [43]:
names.add('Mikhail')
print(names)

{'Mikhail', 'Petr', 'Ivan', 'Constantin'}

In [44]:
names.remove('Mikhail')
print(names)

{'Petr', 'Ivan', 'Constantin'}

In [45]:
names.add(['Vladimir', 'Vladimirovich'])
print(names)

TypeError: unhashable type: 'list'

In [ ]:
names.add(('Vladimir', 'Vladimirovich'))
print(names)

### 9. Dictionary

In [46]:
words_frequencies = dict()
words_frequencies['I'] = 1
words_frequencies['am'] = 1
words_frequencies['I'] += 1

print(words_frequencies)

{'I': 2, 'am': 1}

In [47]:
print(words_frequencies['I'])

2

In [48]:
words_frequencies = {'I': 2, 'am': 1}
print(words_frequencies)

{'I': 2, 'am': 1}

In [51]:
yet_another_dict = {'abc': 3.4, 5: 7.8, u'123': None}
print(yet_another_dict)

{'abc': 3.4, 5: 7.8, '123': None}

In [52]:
yet_another_dict [(1, 2, 5)] = [4, 5, 7]
print(yet_another_dict)

{'abc': 3.4, 5: 7.8, '123': None, (1, 2, 5): [4, 5, 7]}